project_name        = "platform-resume"
domain_name         = "manuel-anda.com"
aws_region          = "us-east-1"
environment         = "prod"
enable_waf          = false
enable_contact_form = true
log_retention_days  = 14
